/* sidebar */
.app-sidebar-header__action,
.app-sidebar-header__description {
	flex-direction: column;
}

#approvalInfoView {
	width: 100%;
}

/* file actions */
.approval-inline-state {
	display: inline-block;
    position: relative;
	right: -29px;
	bottom: -16px;
	width: 19px;
	height: 19px;
	padding: 0;
	z-index: 5;

	border-radius: var(--border-radius-pill);
	border: 2px solid var(--color-main-background);
}
#filestable tr.highlighted .approval-inline-state {
	border: 2px solid var(--color-primary-light);
}
#filestable tr:hover .approval-inline-state,
#filestable tr:focus .approval-inline-state,
#filestable tr.selected .approval-inline-state,
#filestable tr:active .approval-inline-state {
	border: 2px solid var(--color-background-hover);
}
#filestable.view-grid .approval-inline-state {
	right: 24px;
	bottom: 16px;
	position: absolute;
}
/* weird stuff: empty/invalid images still have "data-has-preview=true" so this is overriden */
#filestable.view-grid tr[data-mime="image/jpeg"] .approval-inline-state,
#filestable.view-grid tr[data-mime="image/png"] .approval-inline-state {
	right: 16px;
	bottom: 24px;
}
#filestable.view-grid tr[data-has-preview=true] .approval-inline-state {
	right: 12px;
	bottom: 12px;
}
#filestable.view-grid tr[data-type=dir] .approval-inline-state,
#filestable.view-grid tr[data-mime^="video/"] .approval-inline-state,
#filestable.view-grid tr[data-mime="application/vnd.openxmlformats-officedocument.presentationml.presentation"] .approval-inline-state {
	right: 16px;
	bottom: 24px;
}
#filestable.view-grid tr[data-mime="text/calendar"] .approval-inline-state {
	right: 16px;
	bottom: 16px;
}
#filestable.view-grid tr[data-mime="application/vnd.oasis.opendocument.spreadsheet"] .approval-inline-state {
	right: 24px;
	bottom: 16px;
}

.icon-approved,
.icon-rejected,
.icon-approvable,
.icon-pending {
	background-size: 11px;
}

.icon-approved {
	background-color: var(--color-success) !important;
}

.icon-rejected {
	background-color: var(--color-error) !important;
}

.icon-approvable,
.icon-pending {
	background-color: var(--color-text-maxcontrast) !important;
}

/* for file actions */
.icon-approval {
	background-image: url('../img/app-dark.svg');
	filter: var(--background-invert-if-dark);
}
body.theme--dark .icon-approval {
	background-image: url('../img/app.svg');
}
