/* sidebar */
.app-sidebar-header__action,
.app-sidebar-header__description {
	flex-direction: column;
}

#approvalInfoView {
	width: 100%;
}

/* file actions */
.approval-inline-state {
	display: inline-block;
    position: relative;
	right: -30px;
	bottom: -15px;
	width: 15px;
	height: 15px;
	padding: 0;
	z-index: 5;

	border-radius: var(--border-radius-pill);
}

.icon-approved,
.icon-rejected {
	background-size: 10px;
}

.icon-approved {
	background-color: var(--color-success) !important;
}

.icon-rejected {
	background-color: var(--color-error) !important;
}

.icon-approvable,
.icon-pending {
	background-size: 10px;
}

.icon-approvable {
	background-color: #eca700 !important;
	/* border: 1px solid var(--color-main-text); */
}

.icon-pending {
	background-color: #eca70066 !important;
}