/* sidebar */
.app-sidebar-header__action,
.app-sidebar-header__description {
	flex-direction: column;
}

#approvalInfoView {
	width: 100%;
}

/* file actions */
.approval-inline-state {
	display: inline-block;
    position: relative;
	right: -29px;
	bottom: -16px;
	width: 19px;
	height: 19px;
	padding: 0;
	z-index: 5;

	border-radius: var(--border-radius-pill);
	border: 2px solid var(--color-main-background);
}
#filestable tr:hover .approval-inline-state,
#filestable tr:focus .approval-inline-state,
#filestable tr.selected .approval-inline-state,
#filestable tr:active .approval-inline-state {
	border: 2px solid var(--color-background-hover);
}
#filestable.view-grid .approval-inline-state {
	right: 24px;
	bottom: 16px;
	position: absolute;
}

.icon-approved,
.icon-rejected,
.icon-approvable,
.icon-pending {
	background-size: 11px;
}

.icon-approved {
	background-color: var(--color-success) !important;
}

.icon-rejected {
	background-color: var(--color-error) !important;
}

.icon-approvable,
.icon-pending {
	background-color: var(--color-text-maxcontrast) !important;
}

/* for file actions */
.icon-approval {
	background-image: url('../img/app-dark.svg');
}
body.theme--dark .icon-approval {
	background-image: url('../img/app.svg');
}