<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 colors="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900">
	<testsuite name='Approval app tests'>
		<directory suffix=".php">./unit</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<coverage>
		<include>
			<directory suffix=".php">../lib</directory>
		</include>
		<exclude>
			<directory suffix=".php">../appinfo</directory>
			<directory suffix=".php">../templates</directory>
		</exclude>
	</coverage>
</phpunit>
